/* COLORES:
ROJO: #F24C62;
GRIS: #c7c4c4;
AZUL CLARITO: #49C6DD;
BLANCO: #F7F6F6;
AZUL OSCURO: #005070;
 */
/* this class is on top of everything */
.App {
  font-family: 'Roboto Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
label {
  color: #005070;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #f24c62;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #f7f6f6;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links li :hover {
  color: #f24c62 !important;
}

.card {
  box-shadow: 0 4px 8px 0 #c7c4c4;
  transition: 0.3s;
  width: 30%;
  font-family: 'Roboto Mono', monospace;
  border-radius: 5px;
  background-color: #f7f6f6;
  text-align: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card a {
  color: #f7f6f6;
}

.button {
  background-color: #005070;
  border-radius: 10px;
  margin: 0px 0px 12px 0px;
  font-size: 14px;
}

.button:hover {
  background-color: #f24c62;
  animation-name: increase-button;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

@keyframes increase-button {
  100% {
    transform: scale(1.1);
  }
}
