/* COLORES:
ROJO: #F24C62;
GRIS: #c7c4c4;
AZUL CLARITO: #49C6DD;
BLANCO: #F7F6F6;
AZUL OSCURO: #005070;
 */

/* this class is on top of everything */
body {
  margin: 0;
}
.App {
  font-family: 'Roboto Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
label {
  color: #005070;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #f24c62;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #f7f6f6;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-links li :hover {
  color: #f24c62 !important;
}

.card-edificio {
  box-shadow: 0 4px 8px 0 #c7c4c4;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f7f6f6;
  text-align: center;
  margin: 20px 20px 20px 20px;
  padding-bottom: 5px;
}
.card-edificio:hover {
  box-shadow: 0 8px 16px 0 #005070;
  cursor: pointer;
}

.card-edificio a {
  color: #f7f6f6;
}

.detalle-edificio {
  box-shadow: 0 4px 8px 0 #c7c4c4;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f7f6f6;
  text-align: center;
  margin: 20px 20px 20px 20px;
}

.button {
  background-color: #005070;
  border-radius: 7px;
  margin: 0px 0px 12px 0px;
  font-size: 14px;
  color: #f7f6f6;
  padding: 7px 10px 7px 10px;
  /* border-color: #49c6dd; */
}

.button:hover {
  background-color: #f24c62;
  animation-name: increase-button;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.button-clicked {
  background-color: #f24c62;
}

@keyframes increase-button {
  100% {
    transform: scale(1.05);
  }
}

input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 10px 10px 10px 10px;
}

.container {
  align-content: space-around;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.lista-unidades {
  overflow: auto;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

@media only screen and (min-width: 1000) {
  .lista-unidades {
    grid-template-columns: 33% 33% 33%;
  }
}

.card-unidad {
  box-shadow: 8px 4px 8px 4px #c7c4c4;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f7f6f6;
  text-align: center;
  margin: 20px 20px 20px 20px;
  padding-bottom: 5px;
  font-size: 14px;
}

.card-unidad:hover {
  box-shadow: 4px 4px 8px 6px #005070;
  cursor: pointer;
}

.nav-buttons {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}

.form-filter {
  padding: 0px 20px;
}
